<li  <% if (page_name === 'Dashboard') { %>class="active" <% } %> >
    <a href="/user/dashboard" class="mt">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
    </a>
</li>
<li class="sub-menu">
    <a href="javascript:;" <% if (page_name === 'Home') { %>class="active" <% } %> >
        <i class="fa fa-desktop"></i>
        <span>Home Page</span>
    </a>
    <ul class="sub">
        <li class="sub-menu">
            <a href="/logo-upload">
                <span>Upload Logo</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="/quotes">
                <span>Quote Section</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="/home-page-about">
                <span>About Section</span>
            </a>
        </li>

        <li class="sub-menu">
            <a href="/home-page-event">
                <span>Event Section <br>Background</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="/homePageSlider">
                <span>Slider Section</span>
            </a>
        </li>
    </ul>
</li>

<li class="sub-menu">
    <a href="javascript:;" <% if (page_name === 'Gallery') { %>class="active" <% } %>>
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <span>Gallery Page</span>
    </a>
    <ul class="sub">
        <li class="sub-menu">
            <a href="/gallery/gallery-upload">
                <span>Upload</span>
            </a>
        </li>
    </ul>
</li>

<li class="sub-menu">
    <a href="javascript:;" <% if (page_name === 'Activity') { %>class="active" <% } %>>
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
        <span>Activities Page</span>
    </a>
    <ul class="sub">
        <li class="sub-menu">
            <a href="/activity/get/activity-page">
                <span>Post</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="/activity/activityPageHeader/get">
                <span>Header Contents</span>
            </a>
        </li>
    </ul>
</li>
<li class="sub-menu">
    <a href="javascript:;" <% if (page_name === 'Applicant') { %>class="active" <% } %>>
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>Membership</span>
    </a>
    <ul class="sub">
        <li class="sub-menu">
            <a href="/applicant/request-list">
                <span>Requests</span>
            </a>
        </li>
    </ul>
</li>
<li class="sub-menu">
    <a href="javascript:;" <% if (page_name === 'Contact') { %>class="active" <% } %>>
        <i class="fa fa-address-book" aria-hidden="true"></i>
        <span>Contact Page</span>
    </a>
    <ul class="sub">
        <li class="sub-menu">
            <a href="/contact/contact-page">
                <span>Post Contents</span>
            </a>
        </li>
    </ul>
</li>
<li class="sub-menu">
    <a href="javascript:;" <% if (page_name === 'Event') { %>class="active" <% } %>>
        <i class="fa fa-desktop"></i>
        <span>Event Page</span>
    </a>
    <ul class="sub">
        <li class="sub-menu">
            <a href="/event">
                <span>Post</span>
            </a>
        </li>

        <li class="sub-menu">
            <a href="/event/manage/events">
                <span>Manage</span>
            </a>
        </li>
    </ul>
</li>

<li class="sub-menu">
    <a href="/ambassador/post" <% if (page_name === 'Ambassador') { %>class="active" <% } %>>
        <i class="fa fa-book"></i>
        <span>Campus Ambassador</span>
    </a>
</li>

<li class="sub-menu">
    <a href="/about/about-page" <% if (page_name === 'About') { %>class="active" <% } %>>
        <i class="fa fa-book"></i>
        <span>About Page</span>
    </a>
</li>

<li class="sub-menu">
    <a href="/social-account/social-accounts" <% if (page_name === 'Social') { %>class="active" <% } %>>
        <i class="fa fa-globe" aria-hidden="true"></i>
        <span>Social Accounts</span>
    </a>
</li>
<li class="sub-menu">
    <a href="/committee-members/committee-post" <% if (page_name === 'Committee') { %>class="active" <% } %>>
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <span>Committee Page</span>
    </a>
</li>
<li class="sub-menu">
    <a href="/user/setting" <% if (page_name === 'Setting') { %>class="active" <% } %>>
        <i class="fa fa-tasks"></i>
        <span>Settings</span>
    </a>
</li>
