
<nav class="fs_menu_nav">
    <ul class="fs_menu_list">
        <li><a href="/"><span>home</span></a></li>
        <li><a href="/member/list"><span>Members</span></a></li>
        <li><a href="/activity/list"><span>Activities</span></a></li>
        <li><a href="/committee-members"><span>Committee</span></a></li>
        <li><a href="/event/upcoming"><span>Upcomming Event</span></a></li>
        <li><a href="/event/update"><span>Updated Event</span></a></li>
        <li><a href="/gallery"><span>Gallary</span></a></li>
        <li><a href="/about"  class="active"><span>About</span></a></li>
        <li><a href="/contact"><span>contact</span></a></li>
        <li><a href="/applicant/register"><span>Register</span></a></li>
    </ul>
</nav>
